{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row col-centered">
    <h3>Connect to Wifi</h3>
  </div>
</div>
<div class="container">
    <form class="form-horizontal" name="connectFrom" method="POST" action="/connect">
        <div class="form-group">
            <label class="control-label col-sm-2" for="SSID">Wifi Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="SSID" name="SSID" placeholder="SSID">
            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Password:</label>
          <div class="col-sm-10"> 
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Connect</button>
          </div>
        </div>
    </form>
<a href="/search" class="btn btn-default">Search</a>
<table class="table">
    <thead>
        <tr>
            <th>SSID</th>
            <th>Encryption</th>
            <th>Signal level</th>
            <th>Frequency</th>
            <th>Quality</th>
            <th>Channel</th>
        </tr>
    </thead>
    <tbody>
        {% for SSID in SSIDs: %}
            <tr>
                <td>{{SSID}}</td>
                {% for info in SSID %}
                    <td>{{info['Encryption']}}</td>
                    <td>{{info['Signallevel']}}</td>
                    <td>{{info['Frequency']}}</td>
                    <td>{{info['Quality']}}</td>
                    <td>{{info['Channel']}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function() {
    document.getElementById("Connect").className = "active";
    document.getElementById("Status").className = "";
  });
</script>
{% endblock %}

