{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row col-centered">
    <h3>Connect to Wifi</h3>
  </div>
</div>
  <div class="container">
    <div class="row ">
      <label class="col-centered">
        {% if message !='' %}
            {{message}}
        {% else %}
            NOT CONNECTED
        {% endif %}
      </label>
    </div>
  </div>
<script type="text/javascript">
    document.getElementById("Status").className = "active";
    document.getElementById("Connect").className = "";
</script>
{% endblock %}

